html, body {
  background-color: #333232;
}

.requestForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  float: left;
  background-color: limegreen;
  position: fixed;
  padding: 20px;
  color: white;
  z-index: 10;
  width: 25vw;
}

.waveContainer {
  width: 25vw
}

.waveAsk {
  position: fixed;
  right: 21vw;
  width: 300vh;
  height: 170px;
  transform: rotate(90deg);
}

.requestHeader {
  text-align: center;
  margin-bottom: 15px;
}

.currentRequests {
  float: left;
  margin-left: 35vw;
  color: white;
  padding: 20px;
}
.currentHeader {
  margin-bottom: 65px;
}
.actualText {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 7px;
}

.helpButton {
  float: right;
  margin-left: 10px;
  margin-right: -50px;
  margin-top: -5px;
  border-radius: 7px;
  padding: 4px;
  background-color: rgb(160, 160, 160);
}

.request {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); 
  width: 50vw;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.dropzone {
  height: 150px;
  width: 96%;
  margin: 20px 10px 10px 10px;
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23EC3463' stroke-width='7' stroke-dasharray='15%2c 16%2c 17' stroke-dashoffset='87' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 30px;
  display: flex;
  align-self: center;
  padding: 10px
}

.drop-inside {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}