html, body {
  background-color: #333232;
}

.requestForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  float: left;
  background-color: red;
  padding: 20px;
  color: white;
  width: 25vw;
}

.waveAsk {
  position: absolute;
  left: -22vw;
  width: 90vw;
  transform: rotate(90deg);
}

.requestHeader {
  text-align: center;
  margin-bottom: 15px;
}

.currentRequests {
  float: left;
  margin-left: 7vw;
  color: white;
  padding: 20px;
}
.currentHeader {
  margin-bottom: 65px;
}
.actualText {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 7px;
}
.helpButton {
  float: right;
  margin-left: 10px;
  margin-right: -50px;
  margin-top: -5px;
  border-radius: 7px;
  padding: 4px;
  background-color: rgb(160, 160, 160);
}
